<h1>Детали поста:</h1>
<br/>

<% @result.each do |post| %>
	    <p>
	      <%= @row['content'] %>
	      <br/>
	        <span style="font-size: 75%; color: #999; font-style: italic">Время добавления поста: <%= @row['created_date'] %></span>
	    </p>
	  <hr/> <!-- раздляет чертой --> 
<% end %>

<h4>Комментарии:</h4>
<br/>
<% @comment.each do |comm| %>
	    <p>
	      <%= comm['comment'] %>
	      	<span style="font-size: 75%; color: #999; font-style: italic">Пользователь: <%= comm['name_user']%></span>
	      <br/>
	       <span style="font-size: 75%; color: #999; font-style: italic">Время добавления: <%= comm['created_date']%></span>
	    </p>
	  <hr/> <!-- раздляет чертой --> 
<% end %>

<% if $active == 1 %>

	<form action="/post/<%= @row['post_id'] %>" method="POST">

	  <div class="mb-3">
	  	<h4>Написать комментарий</h4>

	  </div>

	  <div class="mb-3">
		  <textarea name="content" class="form-control" placeholder="Расскажи что думаешь!" id="floatingTextarea2" style="height: 100px"></textarea>
	  </div>
	  <!-- Блок с кнопками смайликов -->
	  <div class="mb-2">
	    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="addEmoji('😊')">😊</button>
	    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="addEmoji('😂')">😂</button>
	    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="addEmoji('❤️')">❤️</button>
	    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="addEmoji('👍')">👍</button>
	    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="addEmoji('😱')">😱</button>
	    <button type="button" class="btn btn-sm btn-outline-secondary" onclick="addEmoji('👎')">👎</button>
	  </div>
	  <br/>
	  	<button type="submit" class="btn btn-primary">Добавить комментарий</button>

	</form>



	<script>
	  function addEmoji(emoji) {
	    const textarea = document.getElementById('floatingTextarea2');
	    const startPos = textarea.selectionStart;
	    const endPos = textarea.selectionEnd;
	    const textBefore = textarea.value.substring(0, startPos);
	    const textAfter = textarea.value.substring(endPos, textarea.value.length);
	    
	    textarea.value = textBefore + emoji + textAfter;
	    textarea.focus();
	    textarea.selectionStart = textarea.selectionEnd = startPos + emoji.length;
	  }
	</script>
<% end %>